<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>


<body>

    <!---------------------------------------------------------------------------------------------------------------------------------------------->

    <nav class="bg-cyan-500 text-white text-md">
        <div class="flex items-center justify-between w-full mx-auto px-8">
            <a href="/employees/home" class="flex items-center space-x-4">
                <img src="https://cdn-icons-png.freepik.com/256/6186/6186048.png?semt=ais_hybrid" class="h-16">
                <span class="text-3xl font-semibold">Employees</span>
            </a>
            <ul class="flex space-x-4 items-center">
                <li><a href="/employees/home"
                        class="py-2 px-4 rounded hover:bg-white hover:text-cyan-500 active:bg-cyan-100">Home</a></li>
                <li><a href="/employees/home"
                        class="py-2 px-4 rounded hover:bg-white hover:text-cyan-500 active:bg-cyan-100">See
                        Employees</a></li>
                <li><a href="/employees/home"
                        class="py-2 px-4 rounded hover:bg-white hover:text-cyan-500 active:bg-cyan-100">Add
                        Employees</a></li>
            </ul>
        </div>
    </nav>

    <div class="w-full flex justify-center items-center pt-60">
        <h1 class="text-8xl font-bold text-cyan-700">C.R.U.D de Empleados</h1>
    </div>



    <!---------------------------------------------------------------------------------------------------------------------------------------------->

</body>

</html>